// @require '../../node_modules/vuetify/src/stylus/settings/_colors.styl'
// @require '../../node_modules/vuetify/src/stylus/settings/_elevations.styl'
// @require '../../node_modules/vuetify/src/stylus/settings/_rtl.styl'
// @require './_custom.styl'
// @require '../../node_modules/vuetify/src/stylus/settings/_variables.styl'
// @require '../../node_modules/vuetify/src/stylus/generic/*'
// @require '../../node_modules/vuetify/src/stylus/elements/*'
// @require '../../node_modules/vuetify/src/stylus/tools/*'
// @require '../../node_modules/vuetify/src/stylus/trumps/*'

$material = {
  background : #f06292
}